html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-width: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #020113;
    // background-image: url(../assets/bg.jpg);
}

canvas {
    display: block;
    cursor: none;
}

a {
    text-decoration: none;
}

#wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#vungle-close{
    opacity: 0;
    pointer-events: none;
}
#vungle-close.visible {
    opacity: 1;
    pointer-events: all;
}

#bottom-container {
    position: absolute;
    transition: all 0.2s ease-in-out;
}

#bottom-container #client-footer {
    position: absolute;
    text-align: center;
    margin: auto;
    z-index: 900;
}

#bottom-container #client-footer img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#bottom-container.full {
    opacity: 0;
}
.preload-font {
 position: absolute;
 bottom: -1000%; 
}

/*
 * IEC elements (not being used in the canvas) ------------------------------------------------------------
 */

.item {
    position: absolute;
    margin: auto;
}

.item img {
    width: 100%;
}

#frame {
    z-index: 100;
    width: 100vw;
    top: 10vw;
}


/*
 * PIEC elements sizing and positioning -------------------------------------------------------------------
 */

.layout-item {
    position: absolute;
    margin: auto;
    z-index: 20;
    pointer-events: none;
}

#game {
    position: absolute;
    margin: auto;
    left:0;
    top:0;
    z-index: 10;
}

#spin-button img{
    width: 100%;
}

#pacman-final {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 20%;
}

#copyright {
    bottom: -3%;
    width: 60%;
    right: 0;
    height: auto;
}


/* Debug mode settings for PIEC containers ---------------------------------------------------*/
.debug {
    #logo {
        background: lightcoral;
        opacity: .3;
        border: 1px solid white;
    }

    #logo-final {
        background: lightcoral;
        opacity: .5;
        border: 1px solid white;
    }

    #cinderella-container {
        background: rgba(0,200,0,.25);
        border: 1px solid white;
    }

    #reel-layout {
        background-color: rgba(254,66,66,.25);
        border: 1px solid white;
    }

    #win-counter, #win-counter-final {
        background-color: lightyellow;
        opacity: 0.4;
        border: 1px solid white;
    }

    #coin-effect-area{
        background-color: lawngreen;
        opacity: 0.4;
        border: 1px solid white;
    }

    #coin-cascade-area {
        background-color: fuchsia;
        opacity: 0.4;
        border: 1px solid white;
    }

    #coin-stack-area {
        background-color: gold;
        opacity: 0.4;
        border: 1px solid white;
    }

    #win-counter-background, #win-counter-background-final{
        background-color: cyan;
        opacity: 0.4;
        border: 1px solid white;
    }

    #win-message-container {
        background-color: blue;
        opacity: 0.4;
        border: 1px solid white;
    }

    #spin-overlay {
        background: black;
        opacity: 0.4;
        border: 1px solid white;
    }

    #spin-button {
        background: white;
        opacity: 0.5;
        border: 1px solid white;
    }

    #cta-container, #cta-container-final {
        background: pink;
        opacity: 0.5;
        border: 1px solid white;
    }
}

/* Overwrite and adjust some of the css settings from the layouts here -----------------------*/
.layout-1, .layout-2 {

    #lineTop {
        top: 8%;
        left: 0;
        right: 0;
        width: 100%;
        height: 10%;
    }

    #lineBottom {
        bottom: -4%;
        left: 0;
        right: 0;
        width: 100%;
        height: 20%;
    }

    #logo {
        width: 50%;
        height: 5%;
        top: 1%;
    }
    #logo-final {
        width: 92%;
        height: 10%;
        top: 15%;
    }
    #cta-container{
        width: 53%;
        bottom: 8%;
    }
    #cta-container-final{
        width: 60%;
        bottom: 50%;
    }
    #reel-layout{
        width: 100%;
        left: 0;
        right: 0;
        bottom: 20%;
        height: 40%;
    }
    #reel-layout-background{
        height: 40%;
        bottom: 26%;
    }
    #win-counter, #win-counter-final{
        width: 63vw;
        height: 12.5vw;
        left: 16vw;
        right: 0;
    }
    #win-counter{
        top: 79.5vh;
    }
    #win-counter-final{
        top: 57vh;
    }
    #win-counter-background{
        top: 79vh;
    }
    #win-counter-background-final{
        top: 56.5vh;
    }

    #spin-overlay {
        height: 35.5vw;
        top: 50%;
    }
    
    #pacman-final {
        width: 80%;
        bottom: 0%;
    }

    #animation-area {
        width: 100%;
        height: 15%;
        top: 13%;
    }
}

@media all and (orientation:landscape) {
    .layout-1, .layout-2 {
        #logo {
            top: 5%;
            width: 40%;
        }
        #logo-final {
            width: 45%;
            left: 0;
            right: 0;
        }
        #reel-layout {
            width: 48%;
            height: 60%;
            left: 0;
            right: auto;
            top: 70%;
        }
        #lineTop, #lineBottom {
            right: 0;
            left: auto;
            width: 48%;
        }
        #lineBottom {
            bottom: 5%;
        }
        #lineTop {
            top: 12.5%;
        }
        #reel-layout-background {
            top: 22%;
            width: 62%;
            left: -12%;
        }
        #cleopatra-container{
            width: 90%;
            left: 44%;
        }
        #win-counter, #win-counter-final {
            width: 35vw;
            top: 64.5%;
            left: auto;
            right: 1vw;
            height: 7.5vw;
        }
        #win-counter-background {
            top: 64%;
        }
        #win-counter-final {
            top: 53%;
            left: 10%;
            right: 0;
        }
        #win-counter-background-final {
            top: 53%;
            left: 0;
            right: 0;
        }
        #cta-container {
            width: 27%;
            height: 20%;
            left: auto;
            right: 10%;
            bottom: 8%;
        }
        #cta-container-final {
            width: 34%;
            height: 20%;
            left: auto;
            right: 16%;
            bottom: 15%;
        }
        #spin-overlay {
            width: 45%;
            top: 37%;
        }
        #spin-button {
            width: 60%;
        }
        #tooltip {
            top: 0;
            bottom: 0;
        }
        #copyright {
            left:0;
            right: auto;
            bottom: -5%;

            width: 40%;
        }

        #animation-area {
            width: 50%;
            left: auto;
            right: 0;
            top: 30%;
            height: 38%;
        }
        #pacman-final {
            width: 38%;
            left: 5%;
            right: auto;
        }
    }
}

/*
 * --------------------------------------------------------------------------------------------------------
 */

 #cleopatra-container {
    position: absolute;
    margin: auto;
    left: 50%;
    right: 0;
    width: 110%;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tooltip {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5%;
    height: 40%;
}

 #cta-background{
    background: #091e3d;
    background: -ms-linear-gradient(#050d1e, #050d1e 3%, #45485b 5%, #050d1e 8%, #091e3d 20%);
    background: -moz-linear-gradient(#050d1e, #050d1e 3%, #45485b 5%, #050d1e 8%, #091e3d 20%);
    background: -webkit-linear-gradient(#050d1e, #050d1e 3%, #45485b 5%, #050d1e 8%, #091e3d 20%);
    background: linear-gradient(#050d1e, #050d1e 3%, #45485b 5%, #050d1e 8%, #091e3d 20%);
    width: 100%;
    height: 23%;
    bottom: 0;
    border-radius: 5px 5px 0px 0px;
}

#reel-layout-background {
    width: 130%;
    transform: translate(-50%, 0);
    // max-width: 100%;
    left: 50%;
    // right: 0;
    top: 20%;
}

@media all and (orientation:landscape) {
    #reel-layout-background {
        width: 53.5vw;
        left: 1.5vw;
        right: auto;
        top: 50.5%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    #cta-background {
        width: 100%;
        height: 40%;
        left: auto;
        right: 0;
    }
}

@media all and (min-width: 768px) and (orientation: portrait) {
    .layout-2 {
        #logo {
            width: 40%;
        }

        #logo-final {
            width: 100%;
            top: 8%;
        }

        #lineTop {
            top: 10.5%;
        }

        #lineBottom {
            bottom: 0;

        }
        #spin-overlay {
            width: 73vw;
            height: 19.5%;
            top: 46%;
        }
        #reel-layout {
            width: 73%;
            height: 40%;
            top: 18%;
        }
        #reel-layout-background {
            width: 96%;
            top: 14%;
        }
        #cta-container {
            width: 55%;
            bottom: 10%;
        }
        #cta-container-final {
            width: 60%;
            bottom: 55%;
        }
        #win-counter-background {
            width: 60vw;
        }
        #win-counter {
            width: 45vw;
            height: 9vw;
            left: 13vw;
        }
        #coin-effect-area {
            width: 85%;
        }
        #coin-cascade-area {
            width: 90%;
        }
        #coin-stack-area {
            width: 70%;
        }
        #pacman-final {
            width: 70%;
        }
        #animation-area {
            height: 13%;
            width: 70%;
            left: 0;
            right: 0;
        }
    }
}
@media all and (min-height: 768px) and (orientation: landscape) {
    .layout-1, .layout-2 {
        #reel-layout-background {
            width: 68%;
            left: -16%;
            height: 48%;
            top: 50%;
        }
        #reel-layout {
            top: 60%;
            width: 48%;
            height: 50%;
        }
        #lineTop {
            top: 9%;
        }
        #lineBottom {
            bottom: 0%;
        }
        #cta-container {
            bottom: 6%;
        }

        #animation-area {
            height: 30%;
        }
    }
}
